{% extends 'base.html' %}
{% load static %}
{% block title %}{{ activity.label }}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/range.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet'/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css'
          rel='stylesheet'/>
    <!--[if lt IE 9]>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.ie.css' rel='stylesheet' />
    <![endif]-->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
{% endblock %}

{% block content %}
    <div class="progress-bar" id="progress-bar"></div>
    <header class="background-cover"
            style="background-image: url('{% if activity.image %}{{ activity.image.url }}{% else %}{% static 'img/placeholder@l.png' %}{% endif %}')">
    <div class="uk-overlay uk-light uk-container">
            <input name="activity-id" id="activityId" value="{{ activity.pk }}" hidden>
            <h1 class="uk-article-title">{{ activity.label }}</h1>
            {% if activity.description %}
            <h4>Description</h4>
                <p class="uk-text-justify">{{ activity.description }}</p>
            {% endif %}
        </div>
    </header>
    
    <section class="uk-container elements-details">
        <article class="uk-article">

            <form method="get" action="">

                <div class="uk-margin-bottom uk-width-1-1">
                    <input class="uk-input uk-margin-small-top" type="search" id="address-search"
                           placeholder="Rechercher un lieu..."/>
                </div>

                <div id="advanced-search" hidden>
                    <div class="uk-divider-icon"></div>
                    <div class="uk-margin-bottom uk-grid-small uk-child-width-1-2@s uk-grid" uk-grid>
                        <div class="uk-width-1-1">
                            <label><i>Type de lieu</i></label>
                        </div>

                        <label for="is_public"><input id="is_public" name="is_public" type="checkbox"
                                                      class="uk-checkbox"/> Public</label>
                        <label for="is_private"><input id="is_private" name="is_private" type="checkbox"
                                                       class="uk-checkbox"/> Privé</label>
                    </div>
                    <div class="uk-divider-icon"></div>
                    <div class="uk-margin-bottom uk-grid-small uk-child-width-1-2@s uk-grid" uk-grid>
                        <div class="uk-width-1-1">
                            <label><i>Disciplines spotives</i></label>
                        </div>
                        {% for discipline in activity.sports_disciplines.all %}
                            <label>
                                <input class="uk-checkbox"
                                       type="checkbox"
                                       name="disciplines"
                                       value="{{ discipline.pk }}"
                                       id="discipline_{{ discipline.pk }}">
                                {{ discipline.label }}
                            </label>
                        {% endfor %}
                    </div>
                    <div class="uk-divider-icon"></div>
                    <div class="uk-grid uk-child-width-1-2@s uk-padding-top" uk-grid>
                        <div class="uk-margin uk-width-1-1">
                            <div class="range-slider">
                                <label for="lat-search"><i>Distance de recherche (KM)</i></label>
                                <input class="range-slider__range" name="distance" id="distance-search"
                                       type="range" value="3" min="1" max="200">
                                <span class="range-slider__value">0</span>
                            </div>
                        </div>
                        <div class="uk-margin uk-hidden">
                            <label for="lng-search">Langitude</label>
                            <input class="uk-input uk-disabled" name="lng" type="search" id="lng-search"
                                   placeholder="Langitude"/>
                        </div>
                        <div class="uk-margin uk-hidden">
                            <label for="lat-search">Latitude</label>
                            <input class="uk-input uk-disabled" name="lat" type="search" id="lat-search"
                                   placeholder="Latitude"/>
                        </div>
                    </div>
                </div>

                <div class="uk-clearfix">
                    <div class="uk-float-right">
                        <button class="uk-button uk-button-default uk-margin-small-bottom"
                                uk-toggle="target: #advanced-search; animation: uk-animation-fade">recherche avancée
                        </button>
                        <input type="submit" value="Rechercher"
                               class="uk-button uk-button-primary uk-margin-small-bottom">
                    </div>
                </div>
            </form>
        </article>
    </section>

    <div class="black-separator"></div>

    <div class="uk-child-width-1-5 uk-grid-small uk-background-muted" data-sticky-container uk-grid>
        <div class="uk-container uk-width-3-5 map-elements-container" id="map-elements-container">
            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match map-elements" id="map-elements" uk-grid>
                <!-- -->
                <div class="uk-width-1-1">
                    <p>Merci de patienter</p>
                    <div class="spinner-container uk-background-muted">
                        <a class="infinite-more-link" href="#" style="display: block;"
                           uk-spinner></a>
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
        <div class="uk-width-2-5 map-container sticky-map" id="map-container" data-sticky data-margin-top="80">
            <div id='map'></div>
        </div>
    </div>

    <div id="map-control">
        <a href="#" class="uk-icon-link" uk-icon="icon: chevron-right; ratio: 1.5" id="toggle-elements"></a>
        <a href="#" class="uk-icon-link" uk-icon="icon: chevron-left; ratio: 1.5" id="toggle-map"></a>
    </div>

    <div class="black-separator" id="bottom-scroll-spy"></div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <script async src="{% static 'js/range.js' %}"></script>

    <script async src="{% static 'js/institutions-map.js' %}"></script>
{% endblock %}