{% extends 'base.html' %}
{% load static class_tags %}

{% block title %}Rechercher{% endblock %}

{% block styles %}
{{ block.super }}
 <link rel="stylesheet" href="{% static 'css/range.css' %}">
{% endblock %}

{% block content %}
<section class="uk-container uk-section">
    <h2>Recherche Avancée</h2>

    <div>
        <label for="structure">Eléments à rechercher</label>
        <select class="uk-select" id="structure">
            <option value="institutions">Institutions sportives</option>
            <option value="equipments">Equipements sportifs</option>
        </select>
    </div>

    <h3>Accéssibilité</h3>
    <div class="uk-divider-icon"></div>
    <div>
        <div class="uk-margin uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-grid" uk-grid>
            <label for="have_metro"><input id="have_metro" name="have_metro" type="checkbox" class="uk-checkbox" /> accès aux publiques ?</label>
            <label for="have_bus"><input id="have_bus" name="have_bus" type="checkbox" class="uk-checkbox" /> ouvert 7j/7 24h/24 ?</label>
            <label for="have_bus"><input id="have_bus" name="have_bus" type="checkbox" class="uk-checkbox" /> ouvert seulement dans les saisons ?</label>
        </div>
    </div>

    <div>
        <h4>Catégories des utilisateurs</h4>
        <div class="uk-margin uk-grid-small uk-child-width-1-4@m uk-child-width-1-2@s uk-grid" uk-grid>
            <label for="have_metro"><input id="have_metro" name="have_metro" type="checkbox" class="uk-checkbox" /> pour utilisation scolaire ?</label>
            <label for="have_bus"><input id="have_bus" name="have_bus" type="checkbox" class="uk-checkbox" /> pour utilisation des clubs ?</label>
            <label for="have_bus"><input id="have_bus" name="have_bus" type="checkbox" class="uk-checkbox" /> pour utilisation individuelle ?</label>
            <label for="have_bus"><input id="have_bus" name="have_bus" type="checkbox" class="uk-checkbox" /> pour utilisation autre ?</label>
        </div>
    </div>

    <h3>Activités</h3>
    <div class="uk-divider-icon"></div>
    <div class="uk-margin uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2@s uk-grid" uk-grid>
        {% for pk, choice in form_activities.activities.field.widget.choices %}
            <label for="id_{{form_activities.activities.name}}_{{ forloop.counter0 }}">
              <input id="id_{{form_activities.activities.name}}_{{ forloop.counter0 }}"
                     name="{{form_activities.activities.name}}" type="checkbox" value="{{pk}}"
                     class="uk-checkbox" />
              {{ choice }}
              </label>
        {% endfor %}
    </div>

    <h3>Emplacement géographique</h3>
    <div class="uk-divider-icon"></div>
    <div class="uk-grid uk-child-width-1-2@s" uk-grid>
        <div class="uk-margin uk-width-1-1">
            <label for="address-search">Adresse</label>
            <input class="uk-input" type="search" id="address-search" placeholder="Rechercher un lieu..."/>
        </div>
        <div class="uk-margin">
            <label for="lng-search">Langitude</label>
            <input class="uk-input uk-disabled" type="search" id="lng-search" placeholder="Langitude" disabled/>
        </div>
        <div class="uk-margin">
            <label for="lat-search">Latitude</label>
            <input class="uk-input uk-disabled" type="search" id="lat-search" placeholder="Latitude" disabled/>
        </div>
        <div class="uk-margin uk-width-1-1">
            <div class="range-slider">
                <label for="lat-search">Distance de recherche (KM)</label>
                <input class="range-slider__range" id="distance-search" type="range" value="5" min="1" max="200">
                <span class="range-slider__value">0</span>
            </div>
        </div>
    </div>

    <h3>Services</h3>
    <div class="uk-divider-icon"></div>
    <div>
        <h4>Commodité</h4>

        <h4>Moyens de transports disponibles</h4>
        <div class="uk-margin uk-grid-small uk-child-width-1-3@l uk-child-width-1-4@m uk-child-width-1-2@s uk-grid" uk-grid>
            <label for="have_metro"><input id="have_metro" name="have_metro" type="checkbox" class="uk-checkbox" /> accéssible en métro ?</label>
            <label for="have_bus"><input id="have_bus" name="have_bus" type="checkbox" class="uk-checkbox" /> accéssible en autobus ?</label>
            <label for="have_tramway"><input id="have_tramway" name="have_tramway" type="checkbox" class="uk-checkbox" /> accéssible en tramway ?</label>
            <label for="have_train"><input id="have_train" name="have_train" type="checkbox" class="uk-checkbox" /> accéssible en train ?</label>
            <label for="have_boat"><input id="have_boat" name="have_boat" type="checkbox" class="uk-checkbox" /> accéssible en bateau ?</label>
            <label for="have_other_transport"><input id="have_other_transport" name="have_other_transport" type="checkbox" class="uk-checkbox" /> autre moyens de transport ?</label>
        </div>
        <h4>Accès aux personnes à besoins spécifiques</h4>
        <div class="uk-margin uk-grid-small uk-child-width-1-2@s uk-grid" uk-grid>
            <label for="have_metro"><input id="have_metro" name="have_metro" type="checkbox" class="uk-checkbox" /> à mobilité réduites ?</label>
            <label for="have_bus"><input id="have_bus" name="have_bus" type="checkbox" class="uk-checkbox" /> à sensoriété réduite ?</label>
        </div>

    </div>
</section>
{% endblock %}

{% block scripts %}

    <script src="{% static 'vendor/jquery-3.2.1.js' %}"></script>
    {{ block.super }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/search-map.js' %}"></script>
    <script src="{% static 'js/range.js' %}"></script>
{% endblock %}
