{% load i18n %}

<div class="like-widget uk-text-right@s">
    <button id="like-button"
            class="uk-button uk-button-default uk-button-small like-button"
            data-href="{% url "publishing:json_set_favorite" content_type_id=content_type_id object_id=object.pk %}"
            data-unlike-text="{% trans "Ajouter au favories" %}"
            data-like-text="{% trans "J'aime ce lieu" %}">
        <span id="favorite-icon" class="{% if is_user_favorite %}favorite-active{% endif %}"
              uk-icon="icon: heart"></span>
        <small id="like-btn-txt">{% if is_user_favorite %}J'aime ce lieu{% else %}Ajouter au favories{% endif %}</small>
    </button>
    <br>
    <small style="margin-right: 5px"><span id="like-badge" class="like-badge badge">{{ count }}</span> personnes aiment
        ce lieu
    </small>
</div>
<script>
    (function ($) {

        var likeWidget = document.getElementById('like-button');
        var likeIcon = document.getElementById('favorite-icon');
        var likeBadge = document.getElementById('like-badge');
        var likeBtnTxt = document.getElementById('like-btn-txt');

        likeWidget.addEventListener('click', function (e) {
            axios.post(likeWidget.getAttribute('data-href'))
                .then(function (response) {
                    if (response.data.action === 'added') {
                        likeIcon.classList.add("favorite-active");
                        likeBtnTxt.innerHTML = likeWidget.getAttribute('data-like-text')
                    } else {
                        likeIcon.classList.remove("favorite-active");
                        likeBtnTxt.innerHTML = likeWidget.getAttribute('data-unlike-text')
                    }
                    likeBadge.innerHTML = response.data.count;
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
    })();
</script>
