<footer>
    <div class="uk-container">
        <div class="uk-child-width-1-5@m uk-child-width-1-3@s uk-padding" uk-grid>
            <div style="margin-top: 0 !important;"><a href="{% url 'legal:privacy' %}">confidentialité & cookies</a></div>
            <div><a href="{% url 'legal:copyright' %}">mentions légales</a></div>
            <div><a href="{% url 'core:about' %}">à propos</a></div>
            <div><a href="{% url 'core:contact' %}">nous contacter</a></div>
            <div>
                <a href="" class="uk-icon-button uk-margin-small-right twitter-icon" uk-icon="icon: twitter"></a>
                <a href="" class="uk-icon-button  uk-margin-small-right facebook-icon" uk-icon="icon: facebook"></a>
                <a href="" class="uk-icon-button google-icon" uk-icon="icon: google-plus"></a>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <p>&copy; 2017
            <span class="brand"><a target="_blank" href="http://selenkeys.com/" rel="noopener">SELEN KEYS</a></span>
            Tous droits réservés.
        </p>
    </div>
</div>