{% extends 'base.html' %}
{% load static i18n class_tags %}
{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
    <div class="uk-container" style="min-height: calc(100vh - 80px)">
        <div class="uk-margin-top uk-margin-large-bottom uk-grid uk-child-width-1-5@m uk-child-width-1-3@s" uk-grid>
            <!-- user profile picture -->
            <div class="uk-cover-container uk-height-medium">
                {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" alt="{{ object.username }}" uk-cover>
                {% else %}
                    <img src="{% static 'img/user-placeholder.jpg' %}" alt="" uk-cover>
                {% endif %}
            </div>
            <!-- user profile informations -->
            <section class="uk-width-3-5@m uk-width-2-3@s">
                <form class="" role="form" action="" method="post">
                    <h1 class="uk-margin-remove-top">Mon Compte</h1>
                <a href="{% url 'accounts:profile' %}" class="uk-button uk-button-text link uk-hidden@m">annuler les modifications</a>
                <div>
                    <hr class="uk-divider-icon">
                    <h2>Modifier mon mot de passe</h2>
                    {% csrf_token %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="uk-text-danger">{{ error }}</p>
                        {% endfor %}
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">{{ field.label }}</label>
                            <div class="uk-form-controls">
                                {{ field|addClass:"uk-input" }}
                            </div>
                        </div>
                        {% if field.help_text %}
                            <small>{{ field.help_text|safe }}</small>
                        {% endif %}
                    {% endfor %}
                </div>


                    <div class="uk-margin-top">
                        <input class="uk-button button-orange" type="submit" name="submit" value="valider">
                    </div>
                </form>
            </section>
            <!-- user profile navigation -->
            <div class="uk-width-1-5@m uk-visible@m" data-sticky-container id="sticky-nav">
                <ul class="uk-nav uk-nav-default" data-sticky data-margin-top="120">
                    <li><a href="{% url 'accounts:profile' %}"><span class="uk-margin-small-right" uk-icon="icon: pencil"></span> Annuler les modifications</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}