{% extends 'base.html' %}
{% load static i18n class_tags %}
{% block head %}
    {{ block.super }}
    <meta http-equiv="refresh" content="5;url={% url 'accounts:profile' %}" />
{% endblock %}
{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
    <div class="uk-container" style="min-height: calc(100vh - 80px)">
        <div class="uk-margin-top uk-margin-large-bottom uk-grid uk-child-width-1-5@m uk-child-width-1-3@s" uk-grid>
            <!-- user profile picture -->
            <div class="uk-cover-container uk-height-medium">
                {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" alt="{{ object.username }}" uk-cover>
                {% else %}
                    <img src="{% static 'img/user-placeholder.jpg' %}" alt="" uk-cover>
                {% endif %}
            </div>
            <!-- user profile informations -->
            <section class="uk-width-3-5@m uk-width-2-3@s">
                <div class="uk-alert-success" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <h3>Succès</h3>
                    <p>Votre mot de passe a été modifié avec succès.</p>
                </div>
                <p>Vous serez redirégé vers la page de votre profil dans 5 secondes.</p>
            </section>
            <!-- user profile navigation -->
            <div class="uk-width-1-5@m uk-visible@m" data-sticky-container id="sticky-nav">
                <ul class="uk-nav uk-nav-default" data-sticky data-margin-top="120">
                    <li><a href="{% url 'accounts:profile' %}"><span class="uk-margin-small-right" uk-icon="icon: pencil"></span> Annuler les modifications</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}