{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block title %} {{ institution.name }} {% endblock title %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'kojump/assets/mapboxjs/mapbox.css' %}" rel='stylesheet'/>
{% endblock styles %}

{% block content %}
    <div class="uk-inline" style="">
        <div class="uk-cover-container" style="height: 50vh; filter: brightness(.85) contrast(1.5);">
            <img src="{{ institution.thumbnail.url }}" alt="{{ institution.slug }}">
        </div>
        <div class="uk-overlay uk-light uk-position-bottom uk-container">
            <h1 class="uk-article-title"><a class="uk-link-reset" href="" style="color: #e5e5e5 !important;">{{ institution.name }}</a></h1>
        </div>
    </div>

    <section class="container" style="padding-top: 30px; padding-bottom: 30px">
        <article class="uk-article">
            <div class="uk-container">
                <h2>Adresse</h2>
                <p class="uk-text-justify">
                    {% if institution.address %}
                        {{ institution.address }}
                    {% else %}
                        aucune adresse founie.
                    {% endif %}
                </p>
                <input type="hidden" id="coordinateX" value="{{ institution.coordinates.x }}">
                <input type="hidden" id="coordinateY" value="{{ institution.coordinates.y }}">
            </div>
        </article>
    </section>

    <div class="black-separator"></div>
    <div class="equipments uk-background-muted">
        <div class="uk-child-width-1-5 grid uk-grid-small"
             style="height: calc(100vh - 80px); margin-top: 0 !important; margin-bottom: 0 !important;" uk-grid>
            <div class="uk-container uk-width-3-5 uk-panel-scrollable" style="height: 100%">
                <h2>Espaces sportifs</h2>
                <div class="uk-child-width-1-2@m grid uk-grid-small" id="equipments" uk-grid>
                    <input class="uk-width-1-1 uk-input" type="text" placeholder="Filtrer">
                </div>
            </div>
            <div class="uk-width-2-5" id='map' style="height: calc(100vh - 80px)"></div>
        </div>
    </div>
    <div class="black-separator"></div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'kojump/assets/mapboxjs/mapbox.js' %}"></script>

    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css'
          rel='stylesheet'/>
    <!--[if lt IE 9]>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.ie.css' rel='stylesheet' />
    <![endif]-->
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css'
          rel='stylesheet'/>

    <script>
        var institution_id = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);

        $('.activity p').shave(50);

        L.mapbox.accessToken = 'pk.eyJ1IjoibW91ZWRoZW4iLCJhIjoiY2o1b25ibHdvMDFrbTJxcXRtaWttZ3VqcCJ9.D5l-yqWthlUroyn5GFoY2w';

        var coordinateX = document.getElementById("coordinateX").value;
        var coordinateY = document.getElementById("coordinateY").value;

        var map = L.mapbox.map('map', 'mapbox.streets')
            .setView([parseFloat(coordinateY), parseFloat(coordinateX)], 16);

        var featureLayer = L.mapbox.featureLayer()
            .loadURL('/api/institutions/' + institution_id + '/equipments')
            .addTo(map);

        var renderFeature = function (feature) {
            var description = 'aucune description fournie';
            if (feature.properties.description !== null) {
                description = feature.properties.description
            }
            var item = document.createElement('div');
            console.log(feature)
            item.classList.add('activity');
            item.innerHTML = '<div class="uk-card uk-card-default uk-card-hover">\n' +
                '                        <div class="uk-card-media-top">\n' +
                '                            <img src="/media/' + feature.properties.thumbnail + '" alt="' + feature.properties.slug + '">\n' +
                '                        </div>\n' +
                '                        <div class="uk-card-body">\n' +
                '                            <h3 class="uk-card-title">' +
                '                               <a href="/equipments/' + feature.properties.pk + '">' +
                                                    feature.properties.name + '</a></h3>\n' +
                '                            <p>' + description + '</p>\n' +
                '                        </div>\n' +
                '                    </div>';
            return item;
        };

        function onmove() {
            var bounds = map.getBounds();

            document.getElementById('equipments').innerHTML = '';
            featureLayer.eachLayer(function (marker) {
                if (bounds.contains(marker.getLatLng())) {
                    document.getElementById('equipments').appendChild(renderFeature(marker.feature))
                }
            });
        }

        map.on('moveend', onmove);
        featureLayer.on('ready', function (e) {
            map.panTo([featureLayer.getGeoJSON().features[0].geometry.coordinates[1], featureLayer.getGeoJSON().features[0].geometry.coordinates[0]])
            L.control.locate().addTo(map);
            map.addControl(L.mapbox.geocoderControl('mapbox.places', {
                autocomplete: true
            }))
            onmove();
        });

    </script>
{% endblock %}