{% extends 'base/form.html' %}

{% block title %}
    S'inscrire
{% endblock %}

{% block mainTitle %}Se connecter{% endblock %}

{% block presentationText %}
    <p class="uk-text-meta uk-margin-remove-top">Bienvenue à votre espace membre</p>
{% endblock %}

{% block cardFooter %}
    <div class="uk-card-footer">
        <a href="{% url 'accounts:password_reset' %}" class="uk-button uk-button-text link">mot de passe oublié ?</a>
    </div>
{% endblock %}