{% extends 'base/form.html' %}

{% block title %}S'inscrire{% endblock %}
{% block mainTitle %}S'inscrire{% endblock %}

{% block form %}
<div>
    <h4>S'enregistrer via les réseaux sociaux</h4>
    <div class="uk-margin-top">
        <a href="#" class="uk-icon-button uk-margin-small-right twitter-icon" uk-icon="icon: twitter"></a>
        <a href="#" class="uk-icon-button  uk-margin-small-right facebook-icon" uk-icon="icon: facebook"></a>
        <a href="#" class="uk-icon-button google-icon" uk-icon="icon: google-plus"></a>
    </div>
</div>
    <div class="uk-divider-icon"></div>
    <h4>Créer un compte</h4>
    {{ block.super }}
    <div><input type="checkbox" id="field_terms" name="terms"> En validant, vous acceptez nos <a href='https://www.kojump.fr/legal/copyright-policy/'>conditions d'utilisation</a> et notre <a href='https://www.kojump.fr/legal/privacy-policy/'>politique de confidentialité</a>.</div>

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function() {
            var myCheckbox = document.getElementById("field_terms");
          var myForm = document.getElementById("fomul");
          var checkForm = function(e) {
            if(!myCheckbox.checked) {
              alert("Vous devez acceptez nos conditions d'utilisation et notre politique de confidentialité");
              myCheckbox.focus();
              e.preventDefault(); // equivalent to return false
              return;
            }
          };
      
          // attach the form submit handler
          myForm.addEventListener("submit", checkForm, true);
      
        }, false);
      
      </script>

    {% endblock %}
