{% extends 'base.html' %}
{% load i18n static %}
{% block title %}Mes commentaires{% endblock %}

{% block content %}
    <section class="uk-section uk-container uk-background-muted"
             style="min-height: calc(100vh - 80px); padding-top: 40px; padding-bottom: 40px">
        <h2>Mes commentaires</h2>
        <hr>
        <div>
            {% for comment in comment_list %}
                <article class="uk-comment">
                    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar"
                                 src="{{ comment.content_object.image }}"
                                 width="160" height="160" alt="{{ comment.content_object.slug }}">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-comment-title uk-margin-remove">
                                <a class="uk-link-reset" href="{{ comment.content_object.get_absolute_url }}">
                                    {{ comment.content_object.label }}</a>
                            </h4>
                            <p class="uk-text-meta">{{ comment.content_object.address }}</p>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">{{ comment.created }}</a></li>
                                <li><a href="#">{{ comment.get_status_display }}</a></li>
                            </ul>
                        </div>
                    </header>
                    <div class="uk-comment-body">
                        <p class="uk-text-justify">{{ comment }}</p>
                    </div>
                </article>
                <hr>
            {% endfor %}
        </div>
    </section>

{% endblock %}