{% load static i18n google_analytics %}
<html lang="fr">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kojump - {% block title %}Page blanche{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'img/kojump/kojump_favicon.png' %}">

    {% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.0.6/build/cookieconsent.min.css">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.0.0-beta.30/dist/css/uikit.min.css"> -->
        <link rel="stylesheet" href="{% static 'assets/app.bundle.css' %}">
    {% endblock styles%}

    {% google_analytics %}

</head>
{% endblock head %}
<body id="">
    {% block navbar %}
        {% include 'parts/navbar.html' %}
    {% endblock navbar%}

    {% block content %}
        {% if messages %}
            {% for message in messages %}
                {% if message.success %}
                    <div class="{% if message.success %}uk-alert-success{% elif message.error %}uk-alert-danger{% endif %}" uk-alert>
                        <a class="uk-alert-close" uk-close></a><p id="error-message">{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="spinner-container uk-background-muted">
            <a class="infinite-more-link" href="#" uk-spinner></a>
        </div>
    {% endblock content%}

    {% block footer %}
        {% include 'parts/footer.html' %}
    {% endblock footer%}

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3.0.6/build/cookieconsent.min.js"></script>
        <script src="{% static 'assets/app.bundle.js' %}"></script>
        <script>
            window.cookieconsent.initialise({
              // container: document.getElementById("content"),
              palette:{
                popup: {background: "#fff"},
                button: {background: "#aa0000"},
              },
              revokable:true,
              onStatusChange: function(status) {
                console.log(this.hasConsented() ?
                  'enable cookies' : 'disable cookies');
              },
              law: {
                regionalLaw: false,
              },
              location: true,
            });
          </script>
    {% endblock scripts%}
</body>
</html>